<a href="https://colab.research.google.com/github/sowmkella/python_chapters/blob/main/sowmya.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hh")

hh

In [ ]:
a= 30
b = 90
c = 0
d = 70

score = 35
if (a >= score & b >=score & c >= score & d >= score):
      print("All students have passed!")   
else:
      print("Failed")

Failed

In [ ]:
print("hi")

hi

In [ ]:
print("hello")

hello

I test 15-03-23

In [1]:

# To reverse words in a given string

# input string
string = "geeks quiz practice code"
# reversing words in a given string
s = string.split()[::-1]
l = []
for i in s:
	# apending reversed words to l
	l.append(i)
# printing reverse words
print(" ".join(l))

code practice quiz geeks

In [2]:
#To find factorial of a number
num = int(input("Enter a number: "))   # Taking input from user

factorial = 1   # Initializing factorial to 1

# If the number is negative, print an error message
if num < 0:
    print("Factorial does not exist for negative numbers")
elif num == 0:   # If the number is 0, the factorial is 1
    print("The factorial of 0 is 1")
else:   # For positive numbers, calculate the factorial
    for i in range(1, num + 1):
        factorial = factorial * i   # Multiply factorial with each number from 1 to num
    print("The factorial of", num, "is", factorial)

Enter a number: 5
The factorial of 5 is 120

In [5]:
# To reverse a given number
def reverse_number(num):
    reverse_num = 0
    while num > 0:
        remainder = num % 10
        reverse_num = reverse_num * 10 + remainder
        num = num // 10
    return reverse_num

# Example usage
input_num = 3456
output_num = reverse_number(input_num)
print(output_num)

6543

In [6]:
#To calculate Simple Interest
# Taking input from user
principal = float(input("Enter the principal amount: "))
rate = float(input("Enter the annual interest rate: "))
time = float(input("Enter the time (in years): "))

# Calculating simple interest
simple_interest = (principal * rate * time) / 100

# Printing the result
print("Simple interest = ", simple_interest)

Enter the principal amount: 10000
Enter the annual interest rate: 2
Enter the time (in years): 3
Simple interest =  600.0

In [7]:
# To Find smallest number in a given list
# Taking input from user
num_list = list(map(int, input("Enter a list of numbers separated by space: ").split()))

# Initializing the smallest number to the first element of the list
smallest = num_list[0]

# Looping through the list to find the smallest number
for num in num_list:
    if num < smallest:
        smallest = num

# Printing the result
print("The smallest number in the list is", smallest)

Enter a list of numbers separated by space: 23 45 1 6 67 76 54 33 88 11 22
The smallest number in the list is 1

In [9]:
#program to check if a string is a palindrome or not:
# Taking input from user
string = input("Enter a string: ")

# Reversing the string
reverse_string = string[::-1]

# Comparing the original and reversed strings
if string == reverse_string:
    print("The string is a palindrome")
else:
    print("The string is not a palindrome")

Enter a string: gadag
The string is a palindrome

In [16]:
# To convert a decimal number to binary number
def decimal_to_binary(num):
    binary = ''
    if num == 0:
        return '0'
    while num > 0:
        binary = str(num % 2) + binary
        num = num // 2
    return binary
# Example usage
input_num = 20
output_str = decimal_to_binary(input_num)
print(output_str)

10100

In [17]:
# Program code to remove duplicate elements
def Remove(duplicate):
	final_list = []
	for num in duplicate:
		if num not in final_list:
			final_list.append(num)
	return final_list
	
# Driver Code
duplicate = [2, 4, 10, 20, 5, 2, 20, 4]
print(Remove(duplicate))

[2, 4, 10, 20, 5]